.App {
  height: auto;
  min-height: 100vh;
  background-color: rgb(20, 20, 20);
  overflow: scroll;
  text-align: center;
  overflow: hidden;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
  /* background-color: #35aee2; */
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header-container {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.header {
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
  background: -webkit-linear-gradient(left, white, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 4s ease infinite;
}

.body-container {
    padding: 0 24rem 0 24rem;
}

.candymachine-container {
  
}

.minter-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.othermints-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.sub-text {
  font-size: 2rem;
}

.subsub-text {
  font-size: 1.5rem;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 4rem;
  border: 0;
  width: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
}

.mint-button {
  background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 2rem;
  position: static;
}

.footer-text {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.connected-container input[type='text'] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

.gradient-text {
  background: linear-gradient(-45deg, #ff0000, #00ff00, #0000ff);
	background-size: 300%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}

.gradient-button {
  color: white;
  background: -webkit-linear-gradient(-45deg, #aa0000, #00aa00, #0000aa);
  background-size: 500%;
  animation: gradient-animation 20s ease infinite;
}

.minted-list-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.nft-container {
  width: 24rem;
  max-width: 24rem;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: .25rem solid white;
  box-shadow: .5rem .5rem white;
  background-color: rgb(35, 35, 35);
  transition: .3s ease;
}
.nft-container:hover {
  transform: scale(1.033);
  transition: .3s ease;
}

.nft-image {
  width: auto;
  max-width: 24rem;
  height: auto;
  max-height: 24rem;
  border-bottom: .25rem solid white;
}

.nft-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding: 2rem;
  margin-top: -2rem;
}

.nft-name {
  font-weight: bold;
  font-size: 2rem;
}

.nft-description {
  font-size: 1.25rem;
}

.nft-link {
  font-size: 1rem;
  color: white;
  margin-top: 2rem;
}

.mint-list-item {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}
